<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Yamil-Pedroso/" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.yamilwebdeveloper.com/" target="_blank"><i class="fas fa-globe"></i></a>
    <a href="https://www.linkedin.com/in/yamil-pedroso/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fas fa-heart heart-style"></i> at Helpingly
  </div>
</div>
