<% @disable_nav=true %>

<div class="form-wrapper-edit-offer">
  <div class="form-container-edit-offer">
    <div class="form-title-edit-offer">
      <h1 style="color: #fff;">Edit <span style="color: #4975CB;"><%= @offer.title %></span></h1>
      <h5 style="color: #fff;">Give the customers what they needs.</h5>
    </div>
  <%= render "form", Offer: @offer %>
  </div>
  <div class="back-offer-btn-wrapper">
    <%= link_to "Back to dashboard", user_path(current_user), class:"back-btn" %>
  </div>
</div>
