.card-trip {
  overflow: hidden;
  background: rgb(183, 86, 86);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: transform .5s;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
    z-index: -1;
  }
  &:hover,
  &:focus {
    transform: scale3d(1.03, 1.03, 1);
    color: black;
    &::after {
      opacity: 1;
    }
  }
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.cards-wrapper {
  width: 90%;
  height: 1000px;
  overflow: hidden;
  overflow: scroll;
  display: flex;
  margin: 40px auto;
  flex-wrap: wrap;
}

.card-collection-wrapper {

}

.cards-wrapper-dash {
  width: 1500px;
  height: 500px;
  overflow: hidden;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
}

.card-info {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111933;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: transform .5s;
  color: #e1e1e1;
  p {
   display: flex;
   align-items: flex-end;
   padding-right: 20px;
   padding-bottom: 10px;
  }
}

.card-td {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
    justify-content: center;
    padding: 20px;
    padding-top: 35px;

   h2 {
    font-size: 1.5rem;
    font-weight: bold;
   }
}

.card-ui {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-ui-dash {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 400px;
  margin: 20px;
}

.img-details {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}

.card-link{
  text-decoration: none;
  color: black;
  font-family: $body-font;
}
.card-link-dash {
  text-decoration: none;
  color: black;
  font-family: $body-font;
}

.card-btn {
  display: flex;
  justify-content: center;

   .del-btn {
    background: #4975CB;
    color: #e1e1e1;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    transition: transform .5s;
    &:hover {
      transform: scale3d(1.03, 1.03, 1);

    }
   }

   .edit-btn {
    background: #D0945C;
    color: #e1e1e1;
    border: none;
    border-radius: 5px;
    padding: 10px 55px;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    transition: transform .5s;
    &:hover {
      transform: scale3d(1.03, 1.03, 1);
    }
   }
}
