.cont-wrapper {
  margin-top: 100px;
}

.booking {
  display: flex;
  justify-content: flex-end;
  margin-right: 225px;
}

.booking-btn {
  width: 20%;
  height: 50px;
  background-color: rgb(28, 24, 47);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.booking-btn a {
  color: #7696D4;
  text-decoration: none;
  font-size: 2.5em;
  font-weight: bold;
}

.offer-images {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.img-home-offers {
  margin: 5px;
}

.offer-img {
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.offer-img:hover {
  transform: scale(1.1);
}

.more {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.left-d {
  width: 200%;
  height: 100%;
  background-color: $greensix;
  border-radius: 20px 0 0 20px;
}

.arrow-link {
  font-size: 24px;
  color: rgb(62, 62, 62);
  cursor: pointer;
}

.cont-useroffer {
  display: flex;
  flex-direction: row;
}

#cool-map {
  width: 75%;
}

.offer-pic {
  margin-top: 50px;
}

.disc-more {
  text-decoration: none;
  color: #000;
  border: none;
  margin-top: 100px;
  text-align: center;
}

.discover-more {
  text-decoration: none;
}

.content-wrapper {
  margin-top: 100px;
  display: flex;
}

.offer-details {
  display: flex;
  justify-content: center;
}

.offer-imagen {
  margin-left: 250px;
  border-radius: 20px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.offers-text-details {
  margin-left: 40px;
  margin-top: 50px;
}

.offer-d p {
  font-size: 2.5em;
  font-weight: bold;
}

.offers-text-details h4 {
  width: 75%;
}

.price-location {
  margin-top: 25px;
}
.price-location h4 {
  font-size: 1.5em;
  font-weight: bold;
}

.price-location p {
  font-size: 1.3em;
  font-weight: bold;
}

.offer-big-wrapper {
  display: flex;
  justify-content: center;
}

.offer-more-wrapper {
  margin-top: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.offer-more-detail {
}

.rounded-img {
  border-radius: 50%;
  margin: 20px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.menu-style {
  margin-right: 30px;
}

.mapita {
  margin-top: 25px;
}

.line {
  width: 150px;
  height: 5px;
  background-color: #4975CB;
}

.inner-text {
  position: relative;
}

.inner-text p {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: flex-end;
}

.title-co-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-co-wrapper h2 {
  font-weight: bold;
}

.overview-title {
  margin-top: 50px;
  font-weight: bold;
}

.overview-wrapper {
  margin-top: 20px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.manage-appo {
 text-align: center;
 margin-top: 20px;
 font-size:1.5rem;
 transition: all 0.3s ease-in-out;
}

.manage-appo .appo-btn {
  text-decoration: none;
  color: #4975CB;
}

.manage-appo:hover {
  transform: translateX(10px);
}

.c-offer {
  font-size: 1.2rem;
}

.appo-wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
