.navbar-container {
  display: flex;
}

.nav-wrapper {
  width: 54%;
  height: 100px;
  background-color: #3CA0E7;
}

.blue-franja {
  width: 280px;
  height: 100px;
  display: flex;
  background-color: #111933;
}

.g-logo-big {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #fff;
}

.g-logo-big h1 {
  font-size: 5rem;
  color:#4975CB;
  font-weight:bold;
}
.g-logo-big p {
  color: #fff;
  margin-top: 40px;
  font-size: 2rem;
  font-weight: bold;
}

.carru-title {
  color: #688DD6;
  font-weight: 600;
  line-height: 77px;
  font-size: 3.8rem;
  position: absolute;
  right: 30px;
  bottom: 30px;
}

#navi {
  position: absolute;
  right: 0;
  top: 26px;
  display: flex;
}
#navi-big {
  position: absolute;
  right: 0;
  top: 25px;
  display: flex;
}

#navi h4 {
  margin-top: 5px;
  color: white;
}

.left-nav {
   width: 46%;
   height: 1016px;
   background-color: #111933;
}

.g-logo {
  display: flex;
  margin-top: 20px;
  margin-left: 50px;
}

.left-nav h1 {
  font-size: 5rem;
  color: #4975CB;
  font-weight: bold;
}
.left-nav :nth-child(2) {
  color: #fff;
  margin-top: 47px;
  font-size: 2rem;
  font-weight: bold;
}

.g-title-wrapper {
  width: 80%;
  margin: 0 auto;
}

.g-title {
  margin-top: 200px;
}

.navbar {
  background-color: #3CA0E7;
  height: 100px;
}
.navbar-right {
  margin-right: 30px;
}

.nav-item {
  display: flex;
  justify-content: end;
  margin-bottom: 100px;
}

.navbar-right li {
  list-style: none;
}

.dropdown-item {
  margin-right: 150px;
}

.form-wrapper {
  margin-right: 60px;
}

ion-icon {
  font-size: 42px;
  color: #fff;
}

.navbutton {
  color: white;
  text-align: center;
  text-decoration: none;
  margin-bottom: 100px;
}


.nav-big {
  font-size: 20px;

  &:hover {
    color: black;
  }
}

.dropdown {
  margin-right: 40px;
}

.primary-navigation {

  z-index: 999;
}

.primary-navigation ul li {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-decoration: none;
  text-align: center;
}
.primary-navigation li a {
  color: black;
}
.primary-navigation li a:hover {
  color: #3ca0e7;
}
.primary-navigation li:hover {
  cursor: pointer;
}
.primary-navigation ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: white;
}
.primary-navigation ul li:hover > ul,
.primary-navigation ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  transform: translateX(-75px);
  min-width: 150px;
  text-align: left;
  padding-top: 20px;
  //box-shadow: 0px 3px 5px -1px #ccc;
}
.primary-navigation ul li ul li {

  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}
.primary-navigation ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid #3ca0e7;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}
a:hover {
  color: #3CA0E7;
}

ul li ul li a {
  transition: all 0.5s ease;
}
